.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3% 3%;
  grid-auto-flow: row;
  grid-template-areas:
    "logo header header header header header header header header header header header header right-side"
    "logo top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar top-bar right-side"
    "left-side Az-egri-Csillagok Az-egri-Csillagok A-kőszívű-ember-fiai A-kőszívű-ember-fiai lottie-file lottie-file lottie-file lottie-file Légy-jó-mindhalálig Légy-jó-mindhalálig A-Pál-utcai-fiuk A-Pál-utcai-fiuk right-side"
    "left-side Az-egri-Csillagok Az-egri-Csillagok A-kőszívű-ember-fiai A-kőszívű-ember-fiai lottie-file lottie-file lottie-file lottie-file Légy-jó-mindhalálig Légy-jó-mindhalálig A-Pál-utcai-fiuk A-Pál-utcai-fiuk right-side"
    "left-side Az-ember-tragédiája Az-ember-tragédiája Tanár-úr-kérem Tanár-úr-kérem lottie-file lottie-file lottie-file lottie-file Az-arany-ember Az-arany-ember Édes-Anna Édes-Anna right-side"
    "left-side Az-ember-tragédiája Az-ember-tragédiája Tanár-úr-kérem Tanár-úr-kérem lottie-file lottie-file lottie-file lottie-file Az-arany-ember Az-arany-ember Édes-Anna Édes-Anna right-side"
    "left-side Toldi Toldi János-vitéz János-vitéz Szent-péter-esernyője Szent-péter-esernyője A-nagyenyedi-két-fűzfa A-nagyenyedi-két-fűzfa Esti-kornél Esti-kornél A-jó-palócok--tót-atyafiak A-jó-palócok--tót-atyafiak right-side"
    "left-side Toldi Toldi János-vitéz János-vitéz Szent-péter-esernyője Szent-péter-esernyője A-nagyenyedi-két-fűzfa A-nagyenyedi-két-fűzfa Esti-kornél Esti-kornél A-jó-palócok--tót-atyafiak A-jó-palócok--tót-atyafiak right-side"
    "left-side Beszterce-ostroma Beszterce-ostroma Fanni-hagyományai Fanni-hagyományai Misi-mókus-kalandjai Misi-mókus-kalandjai Esti-Kornél Esti-Kornél Abigél Abigél Még-több-kötelező Még-több-kötelező right-side"
    "left-side Beszterce-ostroma Beszterce-ostroma Fanni-hagyományai Fanni-hagyományai Misi-mókus-kalandjai Misi-mókus-kalandjai Esti-Kornél Esti-Kornél Abigél Abigél Még-több-kötelező Még-több-kötelező right-side"
    "left-footer-corner footer footer footer footer footer footer footer footer footer footer footer footer right-footer-corner";
}
.wrapper,
.box {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 30px;
  display: grid;

  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(800px);
}

.footer {
  grid-area: footer;
}

.left-footer-corner {
  grid-area: left-footer-corner;
}

.right-footer-corner {
  grid-area: right-footer-corner;
}

.logo {
  grid-area: logo;
}

.header {
  grid-area: header;
   justify-content: center ;
}

.top-bar {
  grid-area: top-bar;
}

.right-side {
  grid-area: right-side;
}

.left-side {
  grid-area: left-side;
}

.lottie-file {
  grid-area: lottie-file;
  margin-top: -8rem;
  margin-bottom: -6rem;
  margin-right: -13.5rem;
  margin-left: -9rem;
}

.lottie-file-night {
  grid-area: lottie-file;
  margin-top: -8rem;
  margin-bottom: -6rem;
  margin-right: -10rem;
  margin-left: -9rem;
}

.Légy-jó-mindhalálig {
  grid-area: Légy-jó-mindhalálig;
}

.Az-ember-tragédiája {
  grid-area: Az-ember-tragédiája;
}

.Az-arany-ember {
  grid-area: Az-arany-ember;
}

.Édes-Anna {
  grid-area: Édes-Anna;
}

.Toldi {
  grid-area: Toldi;
}

.János-vitéz {
  grid-area: János-vitéz;
}

.A-Pál-utcai-fiuk {
  grid-area: A-Pál-utcai-fiuk;
}

.Tanár-úr-kérem {
  grid-area: Tanár-úr-kérem;
}

.Szent-péter-esernyője {
  grid-area: Szent-péter-esernyője;
}

.A-nagyenyedi-két-fűzfa {
  grid-area: A-nagyenyedi-két-fűzfa;
}

.Esti-kornél {
  grid-area: Esti-kornél;
}

.A-jó-palócok--tót-atyafiak {
  grid-area: A-jó-palócok--tót-atyafiak;
}

.Az-egri-Csillagok {
  grid-area: Az-egri-Csillagok;
}

.A-kőszívű-ember-fiai {
  grid-area: A-kőszívű-ember-fiai;
}

.Beszterce-ostroma {
  grid-area: Beszterce-ostroma;
}

.Fanni-hagyományai {
  grid-area: Fanni-hagyományai;
}

.Misi-mókus-kalandjai {
  grid-area: Misi-mókus-kalandjai;
}

.Esti-Kornél {
  grid-area: Esti-Kornél;
}

.Abigél {
  grid-area: Abigél;
}

.Még-több-kötelező {
  grid-area: Még-több-kötelező;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


/* For presentation only, no need to copy the code below */

.container * {
  border: 1px solid red ;
  position: relative;
}


.container *:after {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}




/*Éjszaka/nappal kapcsoló*/
 /*Rounded slider*/
 .slider.round {
     border-radius: 34px;
 }

 .slider.round:before {
     border-radius: 50%;
 }




/* The switch - the box around the slider */
body {
  background-color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/*   // Hide checkbox
 */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*   // The slider
   */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  transition: 0.4s ease-in-out;
}
/*   
  // Design of slider for light mode
 */
.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 6px;
  bottom: 6px;
  background-color: yellow;
  box-shadow: 0px 0px 5px 4px rgb(255, 217, 0);

  transition: 0.4s;
}

/*   // When theme is dark, background is dark */

.theme-dark .slider {
  background-color: #3a2864;
}

/*    // If theme is dark, but slider is to the left, move it to the right and turn it into a moon
 */
.theme-dark .slider:before {
  transform: translateX(26px);
  height: 3px;
  width: 3px;
  background-color: lightgrey;
  bottom: 15px;
  left: 10px;
  box-shadow: 10px -7px 0px 1px lightgrey, -4px -8px 0px 0px lightgrey,
    6px 6px 0px 1px lightgrey, 5px -1px 5px 13px white, 5px -1px 0px 12px white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-dark .container {
color: cornflowerblue;
}


.theme-light  .background-lottie-night {
  display:none;
}

.theme-dark  .background-lottie {
  display:none;
}
.theme-light .lottie-file-night {
display:none;
}
.theme-dark .lottie-file {
 display: none;
}

.theme-light .background-lottie  {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -999;
  
}

.theme-dark .background-lottie-night  {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -999;
}
